/* The mobile menu's initial state (hidden) */
.mobile-menu {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: none; /* Initially hidden */
    position: fixed; /* Fixed position on the screen */
    top: 0; /* Align to the top of the screen */
    left: 0; /* Align to the left of the screen */
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
    box-shadow: 2px 29px 80px rgba(0, 0, 0, 0.3); /* Shadow around the menu */
    opacity: 0; /* Initially, the menu is fully transparent */
    transform: translateX(-100vw); /* Move it completely off-screen to the left */
    transition: all 0.3s ease; /* Smooth transition for all properties */
    z-index: 999 !important; /* Ensure the menu is on top of other elements */
  }

  
  /* Optional: Style for the logo or other elements inside the mobile menu */
  .mobile-menu-container {
    width: 60vw;
    height: 100vh;
    background-color: #342864;
    padding: 2rem;

  }
  
  /* The active state of the mobile menu (visible) */
  .mobile-menu.active {
    
    opacity: 1; /* Make the menu fully visible */
    transform: translateX(0); /* Slide the menu into view from the left */
  }
  
  
  .mobile-menu img{
   margin-bottom: 3rem;

  }

  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-left: -2rem;
  }

  @media (max-width: 769px) {
    .mobile-menu {
      display: block; /* Ensures the mobile menu is displayed on small screens */
      /* You can add other styles to adjust the appearance of the mobile menu here */
    }
  }
  
  