.container {
    max-width: 1300px !important; /* Ensure the container doesn't exceed 1300px */
    margin: 0 auto; /* Center the container horizontally */
    position: relative; /* Position it relatively for proper layout */
  }
  @media (max-width: 1300px) {
    .container {
      padding: 0 1.5rem; /* Add horizontal padding to the container */
    }
  }
    